@font-face {
    font-family: kaj;
    src: url(Kajiro\ Bold.ttf);
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    width: 100%;
}

#cursor{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #d57ff7;
    position: fixed;
    z-index: 9;
    mix-blend-mode: difference;
    transition: background-image ease 0.8s;
    background-position: center;
    background-size: cover;  
}

#home{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #fff;
    font-family: kaj;
  }

  .logo{
    padding: 10px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .logo h1{
    font-size: 3vw;
    font-weight: 100;
    
  }

 #name{
    padding: 0 30px ;
    padding-top: 50px;
 }

#home span{
    font-size: 15vw;
    font-weight: 100;
   
}

#home p{
    font-size: 2.8vw;
    font-weight: 100;
}

.download{
    margin-left: 25vw;
    height: 16px;
    width:35px;
}

.download a{
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing: 2px;
    border: rgb(248, 207, 22) 1px solid;
    color: rgb(243, 239, 239);
    font-size: 2.5vw;
}

.download a:hover {
    background-color: rgb(248, 207, 22);
    transition: all ease 0.2s;
}

nav{
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2vw 30px ;
}

nav ul{
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav a{
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 2.5vw;
}

nav a:hover{
    color: palevioletred;
    text-decoration: line-through;
}

nav i{
    display: none;
}

.img{
    width: 100px;
    height: 100px;
    position: absolute;
}

.html_img{
    top: 20%;
    right: 42%;
}
.css_img{
    top: 35%;
    right: 8%;
    width: 70px;
}
.js_img{
    top: 41%;
    right:32%;
}
.tailwind_img{
    top: 29%;
    right: 19%;
}
.react_img{
    top: 70%;
    right: 30%;
}


.gsap_img{
    top: 70%;
    right: 10%;
    transform: rotate(-30deg);
}



@media (max-width:768px) {
    .img{
        display: none;
    }
    .download {
        margin-left: 3vw;
    }
    .download a{
        font-size: 8.5vw;
    }

    #name{
        margin-top: 200px;
        padding: 0 10px;
     }
    
    #home span{
        font-size: 40vw;
   
    }
    
    #home p{
        font-size: 2.8vw;
        font-weight: 100;
    }
    .logo{
        padding: 10px;  
      }
    
      .logo h1{
        font-size: 8vw;
      }

      #home p{
        display: none;
      }

      nav{
        padding: 0.2vw 10px ;
      }

      nav ul {
         display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        right: 0;
        background-color: #000000a8;
        width: 50%;
        height: 50%;
    }

    #nav-links{
        padding:0 0 0 15vw;
    }

      nav a{
        margin-bottom: 1vw;
        display: block;
        font-size: 12.5vw;
        color: #f2f2f2;
        cursor: pointer;
    }

    nav i{
        font-size: 6vw;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 99;
    }
    
}


/* about page */

#aboutPage{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    padding: 2vw 30px 2vw 30px; 
    
}

#aboutTxt{
    margin-top: 1vw;
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #0a0a0a;
    font-family: kaj;
}
#aboutTxt span {
    font-size: 3.5vw;
    display: inline-block;
    padding-right: 2rem;
    animation: about 0.8s linear infinite;
    text-transform: uppercase;
    color: #fff;
}
@keyframes about {
    0% { 
        transform: translateX(0)
    }
    100% { 
        transform: translateX(-100%) 
    }
}



.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 110%;
    padding: 1vw 2vw ;
    font-family: kaj;
    
}
.left p{
    font-size: 5vw;
    font-family: kaj;
}

.roundCircle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #6b61618f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 10px;
}

.right2{
    display: none;
}

.right{
        width: 50%;
        height: 150%;
        /* border-left: 2px solid #6b61618f; */
        display: flex;
        flex-direction: column;
        gap: 30vh;
        font-family: kaj;
        margin-top: 15%;

    }

.right .text1{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    opacity: 0; 
    font-size: 5vw;
    font-weight: 100;
}

.text2,
.text3,
.text4{
    display: flex;
    flex-direction: column;
    gap: 6vh;
    opacity: 0; 
}

.text1 h3,.text2 h3,.text3 h3,.text4 h3 {
    font-size: 4vw;
    font-weight: 100;
}

.text1 h3{
    font-size: 4vw;
    font-weight: 100;
}

.text1 p,.text2 p,.text3 p,.text4 p{
    font-size: 3vw;
    font-weight: 100;
}

/* about page responsive */
@media (max-width: 768px) {
    #aboutTxt{
        margin-top: -1vw;
    }
    #aboutTxt span{
        font-size: 10vw;
    }

    #aboutPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .left{
    width: 100%;
    height: 40%;
    /* background-color: #000000; */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 
   .left p{
    font-size: 10vw;
    margin-top: 5vw;
}

.right{
    display: none;
}

.right2 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    font-family: 'kaj';
    align-items: center;
    flex-wrap: wrap;
}         
 .r2_text1, .r2_text2, .r2_text3, .r2_text4{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2vw;
}
.r2_text1 h3, .r2_text2 h3, .r2_text3 h3, .r2_text4 h3{
font-size: 8vw;
font-weight: 100;
text-align: left;
margin: 0 2vw;
}

.r2_text1 p, .r2_text2 p, .r2_text3 p, .r2_text4 p{
   font-size: 8vw;
   margin: 0 2vw;
}


}


/* skills */

#skills{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    padding: 10px 0px 10px 0px;
    font-family: kaj;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-skill{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}
.s-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: -5vw;
}
.s-content h2{
    padding: 10px;
    font-size: 4vw;
    font-weight: 100;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    filter: blur(5px);
    opacity: 0;
}

/* maerquee text */
.marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.marquee span {
    font-size: 3.5vw;
    display: inline-block;
    padding-right: 2rem;
    animation: marquee 0.8s linear infinite;
    text-transform: uppercase;
}
@keyframes marquee {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* skills responsive */
@media (max-width: 768px) {
    #skills{
        min-height: 75vh;
    }

    .s-content{
        margin-top: -130vw;
    }

    .s-content h2 {
        font-size: 10vw;
    }

    .marquee span{
        font-size: 10vw;
    }
}


/* //project  */
#work{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 0 5vw 8vw 5vw;
    font-family: kaj;
}

#work h2{
    font-size: 8vw;
    font-weight: 100;
   margin-bottom: 3vw;
}

#BOX{
    height: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid rgb(165, 159, 159);
    padding: 0 1vw;
}

#BOX:nth-last-child(1){
    border-bottom: 1.5px solid rgb(165, 159, 159);
}

#BOX a{
    text-decoration: none;
    color: #fff;

}

#BOX h3, #BOX h4{
    font-size: 5vw;
    font-weight: 100;
    cursor: pointer;
    letter-spacing: 0.05vw;
}

/* project responsive */
@media (max-width: 768px) {
    #work{
        padding: -5vw 5vw 0vw 5vw;
        min-height: 70vh;
    }

    #work h2{
        font-size: 15vw; 
    }
    #BOX{
        height: 15vw;
    }
    #BOX h3, #BOX h4{
        font-size: 12vw;
    }
}

/* contact */

#contact{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding-left: 2vw;
    font-family: kaj;
}


#connectText{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.textarea{
    font-size: 15vw;
    font-weight: 500;
    opacity: 0.2;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 00%;
    white-space: nowrap;
}

.textarea .mail{
    color: rgb(78, 78, 236);
    cursor: pointer;
}

.textarea .git{
    color: rgb(236, 48, 48);
    cursor: pointer;
}

.textarea .lin{
    color: rgb(255, 255, 0);
    cursor: pointer;
}

.textHover{
    font-size: 15vw;
    font-weight: 500;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 00%;
    overflow: hidden;
    white-space: nowrap;
}

.textHover .mail{
    color: rgb(78, 78, 236);
    cursor: pointer;

}

.textHover .git{
    color: rgb(236, 48, 48);
    cursor: pointer;
}

.textHover .lin{
    color: rgb(255, 255, 0);
}

/* contact responsive */

@media (max-width: 600px) {
    #contact{
       height: 100vh;
       background-color: #fff;
    }

    .textarea, .textHover{
        font-size: 25vw;
        margin-top: 45vw;
        left: 0%;
    }


}